.etn-widget.etn-add-calender-url{
    margin-top: 25px;
}

.tp-event-details__text p{
    font-family: 'Manrope', sans-serif;
    
}
.tp-hero-wrapper-slider .swiper-slide{
    background: #16243E;
}


/* //breadcrumb_section */
.breadcrumb_section .breadcrumb-list  span {
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    list-style: none;
}

.breadcrumb_section .breadcrumb-list span.post.post-page.current-item {
    color: #ffae00;
}

.breadcrumb_section .breadcrumb-list span.post.post-page.current-item::before {
    content: "|";
    margin: 0 16px;
    color: white;
}
