.etn-widget.etn-add-calender-url {
  margin-top: 25px;
}

.tp-event-details__text p {
  font-family: "Manrope", sans-serif;
}
.tp-hero-wrapper-slider .swiper-slide {
  background: #16243e;
}

/* //breadcrumb_section */
.breadcrumb_section .breadcrumb-list span {
  text-decoration: none;
  color: #fff;
  font-size: 16px;
  list-style: none;
}

.breadcrumb_section .breadcrumb-list span.post.post-page.current-item {
  color: #ffae00;
}

.breadcrumb_section .breadcrumb-list span.post.post-page.current-item::before {
  content: "|";
  margin: 0 16px;
  color: white;
}

/* footer */
.footer-bg {
  background-color: #111c2d;
}
.pt-90 {
  padding-top: 90px;
}
.pb-70 {
  padding-bottom: 70px;
}

.menu-footer-menu-container .menu li a{
  text-decoration: none;
    font-size: 16px;
    color: #a2aec1;
}
.menu-footer-menu-container .menu li:hover > a{
  color: white;
}
.menu-footer-menu-container .menu li {
 margin-bottom: 20px;
}

/* pagination */

.page_pagination {
    margin-top: 10px;
}

.page_pagination ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

.page_pagination ul li {
    display: inline-block;
    margin: 0 5px 10px;
}

/* Link & Current */
.page_pagination ul li a,
.page_pagination ul li span {
    display: inline-block;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    background-color: #f6f6f6;
    border-radius: 50%;
    color: #222;
    text-decoration: none;
    transition: all 0.3s ease;
}

/* Hover */
.page_pagination ul li a:hover {
    background-color: var(--clr-theme-1);
    color: #fff;
}

/* Active Page */
.page_pagination .page-numbers.current {
    background-color: var(--clr-theme-1);
    color: #fff;
}
